@import './assets/fonts/CeraRoundPro.scss';

$theme-colors: (
  //"primary": red,
  //"success": yellow,
);

$font-family-sans-serif: "Cera Round Pro Medium";

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  -webkit-font-smoothing: antialiased;
}

.btn {
  font-family: "Cera Round Pro Bold", sans-serif;
  border-radius: 1rem;
}
