@import './assets/fonts/CeraRoundPro.scss';

$theme-colors: (
  //"primary": red,
  //"success": yellow,
);

$font-family-sans-serif: "Cera Round Pro Medium";

$popover-border-radius: 1.5rem;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .9rem;
}

.btn {
  font-family: "Cera Round Pro Bold", sans-serif;
  border-radius: 1rem;
  margin: 0.2rem;
}

h1 {
  font-size: 4rem;
}

h5 {
  font-size: 1.1rem;
}
