@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.dark-mode{

  $card-bg: rgb(78, 78, 78);
  $body-bg: rgb(41, 41, 41);

  $primary: rgb(0, 183, 255);
  $secondary: white;
  $danger: rgb(255, 60, 60);
  $success: rgb(1, 210, 1);

  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $indigo,
    "dark": $dark,
    "light": #aaa,
  );

  h1, h2, h3, h4, h5, h6, p, label {
    color: whitesmoke;
  }

  .list-group-item {
    color: whitesmoke;
  }

  $link-color: cyan;
  $link-hover-color: cyan;
  $link-active-color: cyan;

  $input-focus-color: black;
  $input-plaintext-color: black;
  $input-color: black;
  $input-placeholder-color: DarkGray;

  $dark: whitesmoke;
  $light: $body-bg;

  $modal-content-bg: $card-bg;

  #top-level {
    background-color: #062c33;
  }

  .avatar-emoji { margin-bottom: -.25rem; }

  .btn { margin: .2rem; }

  .avatar-name {
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @import './assets/styles/app.scss';
}
